<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black Jack</title>
</head>

<body>
    <form method="post" action="http://localhost:4567/result">
        <h2>Player</h2>
        {{#each player}}
            {{cardShape}} <br/>
            {{cardNum}}
        {{/each}}

        <h2>Dealer</h2>
        {{#each dealer}}
            Card Shape : {{cardShape}} <br/>
            Card Number : {{cardNum}}
        {{/each}}


        <input type="submit" value="hit"/>
        <button type="button" onclick="zz()">zzz</button>
    </form>

    <!--<script src="../static/js/main.js"></script>-->
</body>
</html>

